@charset "ISO-8859-1";

.name-tag {
	font-size: 80px;
	font-family: cursive;
	font: bold;
}

.index-page{
	padding: 13px 0px 13px 0px;
	display: flex;
	width: 70%;
	flex-direction: column;
	align-items: center;
}